.footer {
  position: relative;
  display: block;

  &__logos {
    padding: 20px 0;

    .swiper-wrapper {
      display: flex;
      align-items: center;

      @media (min-width: 992px) {
        justify-content: center;
      }
    }

    &__item {
      img {
        display: block;
        width: 100%;
        height: auto;
        opacity: .5;
        transition: opacity .25s ease-in-out;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }

    .swiper-footer {
      position: relative;
      overflow-x: hidden;

      .swiper-slide {
        a {
          margin: 0 15px;
          display: block;
        }
      }
    }
  }

  &__main {
    position: relative;
    display: block;

    &__upper-bar {
      height: 24px;
      width: 100%;
      background-color: $primary__color;
    }

    &__middle-bar {
      background-color: black;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/header-footer-pntkomma.svg');
      background-size: 60px 70px;
      padding: 30px 0;
      width: 100%;

      &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 992px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &--left {
          order: 3;
        }

        &--center {
          order: 1;
        }

        &--right {
          order: 4;
        }

        &--direct {
          order: 2;
          text-align: center;
          margin-top: 10px;
        }

        @media (min-width: 992px) {
          &--left {
            order: 1;
          }

          &--center {
            position: absolute;
            left: 50%;
            margin-left: -102px;
            order: 2;
          }

          &--right {
            order: 3;
            margin-left: 31vw;
          }

          &--direct {
            order: 4;
            text-align: left;
            margin-top: 0;
          }
        }

        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            a {
              color: white;
              font-weight: 700;
            }

            &:not(:first-child) {
              a {
                padding-left: 15px;
              }
            }

            &:hover {
              a {
                color: $primary__color;
              }
            }
          }
        }

        h4 {
          color: white;
          font-size: 1em;
          margin: 0;
        }

        div.contacts {
          display: flex;
          flex-direction: column;
          margin-bottom: 7px;

          a {
            font-size: .75em;

            &:hover {
              color: white;
            }
          }

          span {
            a {
              font-size: .75em;

              &:hover {
                filter: brightness(1.75);
              }
            }
          }

        }

        span {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 15px;

          @media (min-width: 992px) {
            justify-content: flex-start;
            margin-bottom: 0;
          }

          a {
            margin-right: 6px;

            img {
              display: block;
              max-width: 16px;
              height: auto;
            }
          }
        }
      }
    }

    &__bottom-bar {
      background-color: white;
      padding: 3px 0 5px;

      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 767px) {
          flex-direction: row;
        }
      }

      &__usps {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 767px) {
          flex-direction: row;
        }

        &__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 0.75em;

          &:not(:first-child) {
            padding-left: 15px;
          }

          img {
            margin-right: 3px;
            max-height: 14px;
            width: auto;
          }
        }
      }

      &__sub-menu {
        display: flex;

        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            a {
              color: $font__main;
              font-size: 0.75em;
            }

            &:not(:first-child) {
              padding-left: 15px;
            }

            &:hover {
              a {
                color: $primary__color;
              }
            }
          }
        }
      }
    }
  }
}