.main-header {
  position: fixed;
  width: 100vw;
  background-color: $secondary__color;
  top: 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
  z-index: 99;
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: $secondary__color;
    z-index: -1;
    background-image: url('/wp-content/themes/wc-theme/resources/assets/images/header-footer-pntkomma.svg');
    background-size: 60px 70px;
  }

  @media (min-width: 992px) {
    padding: 0;
  }

  > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    a {
      width: 100%;
      display: block;

      img {
        max-width: 100px;
        height: auto;
        width: auto;
      }
    }

    @media (min-width: 480px) {
      top: initial;
      a {
        img {
          max-width: 210px;
        }
      }
    }
  }

  &__trigger {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: block;
    z-index: 4;
    float: right;

    @media (min-width: 480px) {
      top: initial;
    }

    &:after,
    &:before,
    div {
      background-color: $primary__color;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 3px;
      content: "";
      display: block;
      height: 4px;
      margin: 7px 0;
      transition: all 0.4s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      opacity: 1;
    }

    &:before {
      animation: WidthMenu 0.35s cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }

    div {
      animation: WidthMenuSmall 0.35s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      animation-delay: 0.15s;
    }

    &:after {
      animation: WidthMenu 0.35s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      animation-delay: 0.3s;
    }

    &.active {
      &:before {
        transform: translateY(12px) rotate(135deg);
      }

      &:after {
        transform: translateY(-9px) rotate(-135deg);
      }

      div {
        transform: scale(0);
      }

      &:after,
      &:before,
      div {
        border-radius: 3px;
      }
    }

    @media (min-width: 992px) {
      display: none;
    }
  }

  &__mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
    transition: height .25s ease-in-out, opacity .25s ease-in-out;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.active {
      height: 100%;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }

    @media (min-width: 992px) {
      display: none;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;
        padding: 4px 0;
        text-align: center;

        &:not(:last-child) {
          &:before {
            position: absolute;
            content: '';
            bottom: -4px;
            left: calc(50% - 2px);
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background-color: $primary__color;
          }
        }

        &.menu-item-has-children {
          position: relative;

          &:after {
            position: absolute;
            content: '›';
            right: -20px;
            font-size: 1.5rem;
            font-weight: 500;
            top: 7px;
            color: white;
            transform: rotate(90deg);
            transition: all .25s ease-in-out;
          }

          &.active-menu-item {
            > .sub-menu {
              pointer-events: all;
              opacity: 1;
              max-height: 3000px;
            }

            &:after {
              right: -18px;
              transform: rotate(270deg);
            }
          }
        }

        a {
          color: white;
          font-size: 1.5rem;
          font-weight: 500;
        }

        .sub-menu {
          pointer-events: none;
          max-height: 1px;
          opacity: 0;
          overflow: hidden;
          transition: max-height .25s ease-in-out, opacity .25s ease-in-out;

          li {
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  &__primary-menu {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      width: calc(100% + 30px);
      margin-left: -15px;
      justify-content: center;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      white-space: nowrap;

      > li {
        position: relative;
        display: block;
        line-height: 18px;
        text-align: center;
        padding: 40px 0;

        &.menu-btn{
          a{
            padding-top:5px;
            padding-bottom:5px;
            border-radius: 6px;
            background: #16C60C;
            padding-left: 7px;
            @media (min-width: 1100px) {
              padding-left: 10px;
            }
            @media (min-width: 1600px) {
              padding-left: 15px;
            }
            &:hover{
              color: #fff;
            }
          }
          &:hover{
            @include transition;
            transform: scale(0.95) !important;
            a{
              @include transition;
              background-color: darken(#16C60C, 20%);
              color: white;
            }
          }
        }

        &:not(:first-child) {
          a {
            padding-left: 7px;
            @media (min-width: 1100px) {
              padding-left: 10px;
            }
            @media (min-width: 1600px) {
              padding-left: 15px;
            }
          }
        }

        &.menu-item-has-children {
          position: relative;

          > a {
            &:after {
              display: inline-block;
              position: relative;
              content: '›';
              right: -9px;
              color: white;
              font-size: 1.5rem;
              font-weight: 500;
              top: 5px;
              transform: rotate(90deg);
              transition: all .25s ease-in-out;

              @media (min-width: 1200px) {
                top: 3px;
              }
            }
          }
        }

        &:not(:last-child) {
          a {
            padding-right: 7px;
            @media (min-width: 1100px) {
              padding-right: 10px;
            }

            @media (min-width: 1600px) {
              padding-right: 15px;
            }

          }
        }

        a {
          position: relative;
          color: white;
          transition: .25s ease-in-out color;
          font-weight: 900;
          font-size: 0.800rem;

          @media (min-width: 1440px) {
            font-size: 1rem;
          }

        }

        .sub-menu {
          background-color: white;
          position: absolute;
          top: 102px;
          padding: 10px 15px;
          opacity: 0;
          visibility: hidden;
          display: flex;
          width: auto;
          align-items: flex-start;
          flex-direction: column;
          box-shadow: 0 6px 6px rgba(0, 0, 0, .06);

          &:after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: $secondary__color;
            opacity: 0;
            z-index: -1;
            pointer-events: none;
            transition: opacity .25s ease-in-out;
          }

          li {
            position: relative;
            display: block;
            padding: 5px 0;

            a {
              display: block;
              width: initial;
              white-space: nowrap;
              padding: 0;
              color: $font__main;

              &:before {
                content: none;
              }
            }

            > .sub-menu {
              top: 0;
              right: calc(-100% - 15px);
              display: flex;
              width: 100%;
              padding: 0;

              li {
                position: relative;
                display: block;
                padding: 0;

                a {
                  padding: 5px 7px;
                }
              }
            }

            &:hover {

              a {
                color: $primary__color !important;
              }
            }
          }
        }

        &:hover {

          > a {
            color: $primary__color;

            &:after {
              color: $primary__color;
              transform: rotate(270deg);
              right: -2px;
            }
          }

          > .sub-menu {
            visibility: visible;
            opacity: 1;

            &:after {
              opacity: .7;
            }
          }
        }
      }
    }
  }

  .cta-absolute {
    position: absolute;
    bottom: 13px;
    right: 54px;
    z-index: +1;

    @media (min-width: 480px) {
      top: 10px;


      a {
        width: auto;
      }
    }

    @media (min-width: 992px) {
      position: initial;
      top: initial;
      right: initial;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;


    a#mail {
      @extend .tertiary-btn;
      display: none;

      @media (min-width: 480px) {

        background-color: $primary__color;
        color: white;
        margin-right: 15px;
        padding: 7px 10px;
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: none;

        span {
          margin-right: 5px;
        }
      }
    }

    a#call {
      @extend .primary-btn;
      padding: 7px 10px;
      text-transform: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 35px;


      span {
        margin-top: 3px;
      }
    }

    a#whatsapp {
      position: fixed;
      right: 15px;
      bottom: 15px;
      z-index: 4;

      img {
        width: 64px;
        height: auto;
        transition: transform .25s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
