.archive-block {
  padding-top: 60px;

  &__content {
    text-align: center;
    max-width: 920px;
    margin: 0 auto 30px auto;

    &:first-of-type {
      strong {
        font-family: $handwritten;
        color: $primary__color;
      }
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    &:before {
      content:'';
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 125px;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
      background-size: contain;
    }
  }

  &__archive {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    max-width: 1320px;
    margin: 0 auto;

    @media (min-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);

    }

    &__item {
      position: relative;
      background-color: $primary__color;
      border-radius: 10px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;

      @media (min-width: 480px ) {
        flex-direction: column;
        align-items: flex-start;
      }

      &:hover {
        background-color: white;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .1);

        .archive-block__archive__item__icon {
          background-color: $primary__color;
        }

        .archive-block__archive__item__content {
          color: $font__main;
        }

        .archive-block__archive__item__link {
          position: absolute;
          bottom: 30px;
          @extend .primary-btn;
          background-color: $primary__color;

          &:hover {
            background-color: darken($primary__color, 20%);
          }
        }
      }

      &__icon {
        width: 64px;
        height: 64px;
        background-color: $font__main;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (min-width: 480px ) {
          width: 88px;
          height: 88px;
          margin-bottom: 15px;
        }

        img {
          object-fit: contain;
          display: inline-block;
          max-height: 42px;
          height: auto;

          @media (min-width: 480px ) {
            max-height: 62px;
          }
        }
      }

      &__title {
        color: $font__main;
        font-size: 1.25em;
        font-weight: 700;
        padding-left: 30px;

        @media (min-width: 480px ) {
          padding-left: 0;
        }
      }

      &__content {
        display: none;

        @media (min-width: 480px ) {
          color: white;
          padding-bottom: 60px;
          display: block;
        }
      }

      &__link {
        display: none;

        @media (min-width: 480px ) {
          display: initial;
          position: absolute;
          bottom: 30px;
          right: 20px;

        }

        @extend .secondary-btn;

      }
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
}