.contact-form-block {
  position: relative;
  margin: 60px 0;

  .col {
    display: flex;
    justify-content: center;
    text-align: center;

    .contact-form-block__content {
      &:before {
        content: '';
        position: absolute;
        top: -20px;
        width: 100px;
        height: 125px;
        background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
        background-size: contain;
        left: calc(50% - 50px);
        z-index: -2;
      }
    }
  }

  &__content {
    text-align: center;

    :first-child {
      @media (min-width: 576px) {
        margin: 0;
      }
    }

    strong:first-of-type {
      color: $primary__color;
      font-family: $handwritten;
      font-size: 1em;
    }

    h2 {
      margin-top: 0;
    }

    strong {
      &:first-child {

      }
    }
  }

  &__form {
    position: relative;
    max-width: 640px;
    margin: 40px auto 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
    border:1px solid rgba(0,0,0,.06);
    background-color: white;
    padding: 40px;

    &:after {
      position: absolute;
      content:'';
      width: 0;
      height: 0;
      top:-31px;
      left: calc(50% - 40px);
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid white;
      filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.2));
      z-index: 1;
    }
    &:before {
      position: absolute;
      content:'';
      width: 100px;
      height: 31px;
      top: 0px;
      left: calc(50% - 50px);
      background-color: white;
      z-index: 2;
    }


    form {
      text-align: left;
    }
  }

  .wpcf7-not-valid-tip {
    font-size: 13px;
    display: block;
    font-family: inherit;
    text-transform: initial;
    margin: 0 0 10px 0;
  }
}