.content-image-block {
  padding: 40px 0;
  position: relative;

  .row {
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  &--left {
    .row {
      display: flex;
      flex-direction: column-reverse;

      @media (min-width: 576px) {
        flex-direction: row;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 50%;
      height: 50%;
      right: 0;
      bottom: 0;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/rectangle.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--right {
    .row {
      display: flex;
      flex-direction: column-reverse;

      @media (min-width: 576px) {
        flex-direction: row-reverse;
      }

      .content-image-block__image {
        &:before {
          left: initial;
          right: -20px;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 50%;
      height: 50%;
      left: 0;
      bottom: 0;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/rectangle.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transform: scaleX(-1);
    }
  }

  &__content {
    :first-child {

      @media (min-width: 576px) {
        margin: 0;
      }
    }

    div {
      strong:first-of-type {
        color: $primary__color;
        font-family: $handwritten;
        font-size: 1em;
      }
    }

    h2 {
      margin-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 100px;
      height: 125px;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
      background-size: contain;
    }

    strong {
      &:first-child {

      }
    }
  }

  &__ctas {
    &__link {
      display: inline-block;
      margin-bottom: 10px;

      &:first-child {
        @extend .primary-btn;
      }

      &:not(:first-child) {
        @extend .tertiary-btn;
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;

    img {
      border-radius: 10px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}