.cta-block {
  position: relative;
  margin: 100px 0 30px 0;

  &__ctas {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;
    justify-content: space-around;

    @media (min-width: 767px) {
      margin-top: 0;
      display: flex;
      flex-direction: row;
    }

    &:after {
      content:'';
      position: absolute;
      width: 100%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
      height: 100%;
      left: 0;
      bottom: 0;
      z-index: 0;

      @media (min-width: 767px) {
        height: 60%;
      }
    }

    &__item {
      position: relative;
      z-index: 1;
      display: flex;
      flex: 1 1 0px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      @media (min-width: 767px) {
        flex-direction: column;
      }

      &__icon {
        img {
          max-width: 40px;
          height: auto;

          @media (min-width: 767px) {
            max-width: 72px;
          }
        }

      }

      &__content {
        text-align: left;
        padding: 0 20px;

        @media (min-width: 767px) {
          text-align: center;
        }

        strong {
          color: $font__main;
        }

        p {
          color: $primary__color;
          border-bottom: 0;
          font-size: .825rem;
        }
      }

      &:hover {
        transform: scale(.95);
        opacity: .8;
      }
    }

    &__additional-text {
      position: absolute;
      top:-80px;
      left: 0px;
      max-width: 140px;
      font-family: $handwritten;
      transform: rotate(-6deg);
      display: block;

      &:after {
        position: absolute;
        content: '';
        background-image: url('/wp-content/themes/wc-theme/resources/assets/images/blue-arrow.png');
        background-size: cover;
        top:50px;
        left: 60px;
        height: 31px;
        width: 31px;
      }
    }
  }
}