.reviews-block {
  position: relative;
  padding: 60px 0;
  overflow-x: hidden;

  &:after {
    content:'';
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-image: url('/wp-content/themes/wc-theme/resources/assets/images/rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
  }

  &__content {
    position: relative;
    text-align: center;
    max-width: 920px;
    margin: 0 auto 30px auto;

    &:first-of-type {
      strong {
        font-family: $handwritten;
        color: $primary__color;
      }
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    &:before {
      content:'';
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 125px;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
      background-size: contain;
    }
  }


  &__slides {


    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      box-shadow: 0 6px 6px rgba(0, 0, 0, .06);

      &__image {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background-color: white;

        > img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: .8;
        }

        &__score {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 20px;
          top:20px;
          width: 50px;
          height: 40px;
          line-height: 40px;
          background-color: white;
          border-radius: 5px;
          transition: background-color .25s ease-in-out;

          span {
            display: inline-block;
          }

          img {
            display: inline-block;
            max-width: 16px;
            height: auto;
            transition: filter .25s ease-in-out;
          }
        }
      }

      &__container {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: center;
        padding: 15px;
        transition: all .25s ease-in-out;

        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          &__logo {
            position: relative;
            margin-right: 10px;

            img {
              max-width: 86px;
              height: auto;
            }
          }

          h3 {
            position: relative;
            font-size: 1em;
            line-height: 1em;
          }
        }


        p {
          font-size: .75em;
        }

        &__score {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          align-items: center;

          &__star {
            &:not(:last-child) {
              margin-right: 2px;
            }
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          font-size: .75em;

          span {
            color: $primary__color;
          }
        }
      }

      &:hover {
        .reviews-block__slides__slide__image {
          img {
            opacity: 1;
          }
        }

        .reviews-block__slides__slide__image__score {
          background-color: $primary__color;

          img {
            filter: brightness(0) invert(1);
          }
        }

        .reviews-block__slides__slide__container {
          background-color: $primary__color;

          span {
            color: $font__main;
          }
        }
      }
    }
  }

  .swiper-reviews {
    overflow: hidden;

    .swiper-slide {
      height: auto;
    }

    .swiper-pagination {
      bottom: -40px;

      span {
        background: white;
        border: 3px solid $primary__color;
        width: 10px;
        height: 10px;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
          background: $primary__color;
        }
      }
    }

    .swiper-nav {
      z-index: 4;

      .swiper-button-prev {
        left: -60px;

        &:after {
          content: '←';
        }
      }

      .swiper-button-next {
        right: -60px;

        &:after {
          content: '→';
        }
      }

      > div {
        background-color: $primary__color;
        width: 42px;
        height: 42px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
        border-radius: 42px;
        pointer-events: all;
        transition: all .25s ease-in-out;

        &:after {
          color: white;
          font-size: 1rem;
          transition: color .25s ease-in-out;
        }

        &:hover {
          transform: scale(1.25);
          background-color: darken($primary__color, 20%);
        }
      }
    }
  }
}