.slider-block {
  position: relative;
  padding: 60px 0;

  &:after {
    content:'';
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-image: url('/wp-content/themes/wc-theme/resources/assets/images/rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
  }

  &__content {
    text-align: center;
    max-width: 920px;
    margin: 0 auto 30px auto;

    &:first-of-type {
      strong {
        font-family: $handwritten;
        color: $primary__color;
      }
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    &:before {
      content:'';
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 125px;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
      background-size: contain;
    }
  }

  &__additional-text {
    position: relative;
    top:-50px;
    margin-bottom: 20px;
    left: 0;
    font-family: $handwritten;
    transform: rotate(-6deg);
    display: block;

    @media (min-width: 767px) {
      margin-bottom: 0;
      top:-70px;
      position: absolute;
    }

    &:after {
      position: absolute;
      content: '';
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/blue-arrow.png');
      background-size: cover;
      top:25px;
      left: 40px;
      height: 31px;
      width: 31px;
    }
  }

  &__slides {


    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 767px) {
        flex-direction: row;
      }

      &__image {
        position: relative;

        @media (min-width: 767px) {
          width: 50%;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
          border-radius: 10px;
        }

        &:after {
          position: absolute;
          content:'';
          background-color: rgba(0,0,0,.5);
          mix-blend-mode: multiply;
          width: 100%;
          height: 100%;
          top:0;
          right: 0;
          z-index: 1;
          border-radius: 10px;
        }

        &__overlay-icon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          top:0;
          right: 0;
          z-index: 2;

          img {
            max-height: 140px;
            width: auto;
          }
        }
      }

      &__container {
        padding: 30px 0;

        @media (min-width: 767px) {
          padding: 30px;
          width: 50%;
        }

        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;

          &__logo {
            position: relative;
            margin-right: 10px;

            img {
              max-height: 90px;
              width: auto;
            }
          }

          h3 {
            position: relative;
            top: -7px;
            margin: 0;
            line-height: 1em;
          }
        }


        p {

        }

        .primary-btn {
          margin-right: 15px;
        }
      }
    }
  }

  .swiper-slider {
    overflow: hidden;

    .swiper-slider-swiper-pagination {
      margin: 40px 0 0 ;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        background: white;
        border: 3px solid $primary__color;
        width: 10px;
        height: 10px;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
          background: $primary__color;
        }
      }
    }

    .swiper-nav {
      z-index: 4;

      .swiper-button-prev {
        left: -60px;

        &:after {
          content: '←';
        }
      }

      .swiper-button-next {
        right: -60px;

        &:after {
          content: '→';
        }
      }

      > div {
        background-color: $primary__color;
        width: 42px;
        height: 42px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
        border-radius: 42px;
        pointer-events: all;
        transition: all .25s ease-in-out;

        &:after {
          color: white;
          font-size: 1rem;
          transition: color .25s ease-in-out;
        }

        &:hover {
          transform: scale(1.25);
          background-color: darken($primary__color, 20%);
        }
      }
    }
  }
}