.text-content-block {
  padding:40px 0;
  position: relative;

  &--left {
    .col {
      display: flex;

      @media (min-width: 992px) {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  &--right {
    .col {
      display: flex;

      @media (min-width: 992px) {
        justify-content: flex-end;
        text-align: right;

        .text-content-block__content {
          &:before {
            left: initial;
            right: -20px;
          }
        }
      }
    }
  }

  &--center {
    .col {
      display: flex;

      @media (min-width: 992px) {
        justify-content: center;
        text-align: center;

        .text-content-block__content {
          &:before {
            left: calc(50% - 50px);
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    max-width:720px;

    :first-child {

      @media (min-width: 576px) {
        margin: 0;
      }
    }

    div {
      strong:first-of-type {
        color: $primary__color;
        font-family: $handwritten;
        font-size: 1em;
      }
    }

    h2 {
      margin-top: 0;
    }

    &:before {
      content:'';
      position: absolute;
      top: -20px;
      left: 0;
      width: 100px;
      height: 125px;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
      background-size: contain;
    }

    strong {
      &:first-child {

      }
    }
  }

  &__ctas {

    &__link {
      display: inline-block;
      margin-bottom: 10px;

      &:first-child {
        @extend .primary-btn;
      }

      &:not(:first-child) {
        @extend .tertiary-btn;
      }
    }
  }
}