// Variables
// =================================================
@import 'variables';
@import 'variables';
@import "mixins/mixins-master";
@import '~bootstrap-4-grid/scss/grid';
@import 'fonts';
@import '/form/forms';
@import '/navigation/links';
@import '/navigation/menus';
@import '/site/primary/header';
@import '/site/primary/footer';
@import '/site/secondary/headings';
@import '/site/secondary/gutenberg';

@import "~swiper/swiper-bundle.min.css";

@import '/site/blocks/content-image-block';
@import '/site/blocks/archive-block';
@import '/site/blocks/slider-block';
@import '/site/blocks/reviews-block';
@import '/site/blocks/text-content-block';
@import '/site/blocks/cta-block';
@import '/site/blocks/contact-form-block';
@import '/site/blocks/map-block';

@import '/site/card/content';

@import '/site/page/page-header';
@import '/site/page/single';
@import '/site/page/home-slider';
@import '/site/page/archive';

// Resets
// =================================================

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  @media all and (min-width: 768px){
    font-size: 18px;
  }
}

body {


  #app {
    overflow-x: hidden;
  }

  &:not(#tinymce) {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    main {
      position: relative;
      font-family: $regular;
    }
  }
}

.container-fluid {
  margin: 0 auto;

  @media (min-width: 1250px) {
    max-width: 90%;
  }

  @media (min-width: 1640px) {
    max-width: 1600px;
  }
}

.full-width {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  height: 40px;
  width: 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .03);

  &:after {
    content:'';
    position: absolute;
    bottom:0;
    left: 50%;
    background-image: url('/wp-content/themes/wc-theme/resources/assets/images/punt-komma-blauw.svg');
    background-size: 100%;
    width: 8px;
    height: 32px;
    opacity: .5;
  }
}