input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $font__main;
  background-color: rgba(0,0,0,.05);
  border: 1px solid white;
  padding: 7px 10px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  max-width: 160px;
  border-radius: 5px;
  margin-bottom: 7px;
  -webkit-appearance: none;

  &.wpcf7-not-valid{
    border: 1px solid red;
  }
  &:focus {
    color: $primary__color;
    border-color: $primary__color;
  }

  &::placeholder {
    color: rgba(0,0,0,.6);
  }
}

form {
  p {
    margin-bottom: 7px;
  }

  span {
    display: inline;
  }

  label {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline;
  }

  input[type="submit"] {
    @extend a.primary-btn;
    border: none;
    font-family: inherit;
    margin: 0 auto;
    display: block;
  }
}

.wpcf7 {
  span.file {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/upload.png');
      background-size: contain;
      width: 26px;
      height: 27px;
      z-index: 3;
      pointer-events: none;
    }

    input {
      top: -3px;
      left: -82px;
      cursor: pointer;
      position: relative;
    }
  }
}