.posts-archive {

  &--first {
    margin-top: 102px;
  }

  &--left {
    .ex-col {
      display: flex;

      @media (min-width: 992px) {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  &--right {
    .ex-col {
      display: flex;

      @media (min-width: 992px) {
        justify-content: flex-end;
        text-align: right;

        .posts-archive__content {
          &:before {
            left: initial;
            right: -20px;
          }
        }
      }
    }
  }

  &--center {
    .ex-col {
      display: flex;

      @media (min-width: 992px) {
        justify-content: center;
        text-align: center;

        .posts-archive__content {
          &:before {
            left: calc(50% - 50px);
          }

          .wp-block-buttons {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }

  &__content {
    margin: 40px 0 60px;
    position: relative;
    max-width:720px;

    :first-child {

      @media (min-width: 576px) {
        margin: 0;
      }
    }

    strong:first-of-type {
      color: $primary__color;
      font-family: $handwritten;
      font-size: 1em;
    }


    h2, h3 {
      margin-top: 0;
      mark{
        font-family: $handwritten !important;
        color: $primary__color !important;
        line-height: 1rem;
        font-weight: bold;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 100px;
      height: 125px;
      background-image: url('/wp-content/themes/wc-theme/resources/assets/images/element-1.png');
      background-size: contain;
    }

    strong {
      &:first-child {

      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;

    @media (min-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);

    }
  }
  &--workshops{
    .posts-archive__content{
      max-width:100%;
      text-align: left;
      strong:first-of-type {
        color: unset;
        font-family: $regular;
        font-size: unset;
      }
    }
  }
}
