.home-slider {
  position: relative;
  background-color: $primary__color;
  padding: 120px 0 40px 0;
  overflow: hidden;

  .row {

    &:first-child {

      > .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: 767px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    &:nth-child(2) {
      > .col {
        display: flex;
        flex-direction: row;

        @media (min-width: 767px) {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  &__content-container {
    position: relative;
    z-index: 2;
    margin-top: 100px;

    @media (min-width: 767px) {
      margin-top: 0;
    }

    &__first-line {
      font-family: $handwritten;
      line-height: 1em;
      font-size: 1.5em;
      color: white;

      @media (min-width: 767px) {
        font-size: 2.5em;
      }
    }

    &__second-line {
      margin: 0;
      color: $secondary__color;
      font-size: 2em;

      @media (min-width: 767px) {
        line-height: 1em;
        font-size: 4em;
      }
    }

    &__typewritter-container {
      display: inline-block;

      &__cta {
        display: inline-block;
        width: auto;
        margin-top: 15px;

        span {
          font-size: 1em;
          @media (min-width: 767px) {
            font-size: 1.5em;
          }

        }
      }

      &__typewritter {
        font-size: 2rem;
        min-height: 3rem;
      }
    }
  }

  &__image {
    position: absolute;
    left: -30px;
    top: -210px;
    opacity: .7;

    img {
      display: block;
      max-width: 620px;
      height: auto;
    }

    @media (min-width: 480px) {
      top: initial;
      left: initial;
      opacity: 1;
      right: -385px;

      img {
        max-width: 60%;
      }
    }

    @media (min-width: 767px) {
      right: 0;
      position: relative;
      margin-bottom: -200px;

      img {
        max-width: 100%;
      }
    }

    @media (min-width: 992px) {
      margin-bottom: -300px;
    }
  }

  &__usps {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    padding: 10px 10px 3px 10px;

    @media (min-width: 767px) {
      padding: 0;
      margin-top: 0;
      display: flex;
      flex-direction: row;
    }

    &:after {
      content:'';
      position: absolute;
      width: 100%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
      height: 100%;
      left: 0;
      bottom: 0;
      z-index: 0;

      @media (min-width: 767px) {
        height: 60%;
      }
    }

    &__item {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media (min-width: 767px) {
        justify-content: flex-start;
        flex-direction: column;
      }

      &__icon {
        width: 35%;

        img {
          max-width: 40px;
          height: auto;

          @media (min-width: 767px) {
            max-width: 72px;
          }


        }
      }

      &__content {
        padding: 0 20px;
        width: 165%;
        text-align: center;

        p {
          color: $primary__color;
          border-bottom: 0;
          font-size: .825rem;
          margin: 0 0 8px 0;
        }
      }
    }
  }
}