.page-header {

  &__container {
    position: relative;
    margin-top: 102px;
    max-height: 360px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &:after {
      content:'';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary__color;
      mix-blend-mode: color;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;

    span {
      font-family: $handwritten;
      color: white;
      font-size: 1.5em;
      text-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }

    h1 {
      color: white;
      margin-top: 0;
      text-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }
  }

  &__breadcrumbs {
    background-color: rgba(0,0,0,.03);
    padding: 10px 0;

    .col {
      display: flex;
      align-items: center;
    }

    &__inner {
      .arrow {
        color: $primary__color;
      }
    }
  }
}