.single {
  &__post-content {

    &__post-info {
      margin: 15px 0;

      &__time {
        font-family: $handwritten;
        color: $primary__color;
      }
    }
  }
  &--workshop{
    p{
      mark{
        font-family: $handwritten !important;
        color: $primary__color !important;
        line-height: 1rem;
        font-weight: bold;
      }
    }
  }
}
