a{
  @include transition;
  &:link, &:visited{
    text-decoration: none;
    color: $primary__color;
  }
  &:hover{
    color: $secondary__color;
  }
}

.primary-btn,
a.primary-btn {
  position: relative;
  padding: 10px 15px;
  font-size: .825rem;
  font-weight: 600;
  color: $white;
  background: #16C60C;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  transition: .25s ease-in-out;

  &:hover {
    background-color: darken(#16C60C, 20%);
    transform: scale(0.95);
  }
}

.secondary-btn,
a.secondary-btn {
  position: relative;
  padding: 10px 15px;
  font-size: .825rem;
  font-weight: 600;
  color: $secondary__color;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: white;
  transition: .25s ease-in-out;

  &:hover {
    background-color: darken(white, 30%);
    transform: scale(0.95);
  }
}

.tertiary-btn,
a.tertiary-btn {
  position: relative;
  padding: 10px 15px;
  font-size: .825rem;
  font-weight: 600;
  color: $primary__color;
  border: 1px solid $primary__color;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: white;
  transition: .25s ease-in-out;

  &:hover {
    background-color: darken($primary__color, 20%);
    transform: scale(0.95);
    color: white;
  }
}

.wp-block-button__link {
  @extend .primary-btn;
}

