// Add gutenberg overrides here
.content {
  ul {
    list-style: none;
    padding-left: 15px;

    li {
      &:before {
        content: "\2022";
        color: $primary__color;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}
