h1, h2, h3, h4, h5, h6 {
  clear: both;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  clear: both;
  font-family: $regular;
  font-weight: 600;
  color: $font__main;
  margin-block-start: .5em;
  margin-block-end: .25em;

  em {
    position: relative;
    font-style: normal;

    &:after {
      position: absolute;
      content:'';
      width: 100%;
      background-color: $primary__color;
      height: 9px;
      bottom: 7px;
      z-index: -1;
      left: 0;
      opacity: .5;
    }
  }
}

h1, .h1{
  font-size:2.5rem;
}

h2, .h2{
  font-size:2rem;
}

h3, .h3{
  font-size:1.5rem;
}

h4, .h4{
  font-size:1.25rem;
}


p{
  color: $font__main;
  font-size: 1rem;
  font-weight: 300;
  margin-top:0;
  &:empty {
    margin: 0;
    height: 0;
  }
}

.heading {
  color: $font__main;

  &--no-margin{
    margin:0;
  }

  &--regular{
    font-family: $regular;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &--small{
    font-family: $regular;
    font-size:1.33rem;
    line-height: 1.5rem;
  }

  &--medium {
    font-family: $regular;
    font-size: 1.33rem;
    line-height: 1.995rem;
  }

  &--large {
    font-family: $regular;
    font-size: 1.78rem;
    line-height: 2.25rem;
  }
}