.card-content {
  position: relative;
  background-color: $primary__color;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
  display: flex;
  flex-direction: column;
  transition: all .25s ease-in-out;

  &:hover {
    background-color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .1);

    .card-content__container__image {
      img {
        opacity: 1;
      }
    }

    .card-content__container__image__icon {
      background-color: white;

      strong {
        color: $primary__color;
      }

      &--service {
        img {
          filter: invert(1);
        }
      }
    }
  }

  &--expired{
    pointer-events: none;
    background: #f7f7f7;
    .card-content__container__image{
      img{
        opacity: .5;
      }
    }
    h2{
      color: #b0b0b0;
    }
  }

  &__container {

    h2 {
      font-size: 1em;
      padding: 10px 20px;
      margin: 0;
    }

    &__image {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 75%;
      background-color: white;

      > img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
        transition: opacity .25s ease-in-out;
      }

      &__icon {
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 10px;
        right: 10px;
        top: 10px;
        background-color: $primary__color;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0.75em;
        line-height: 1.125em;
        text-align: center;
        transition: .25s ease-in-out background-color;

        span {
          color: $font__main;
          font-weight: bold;
          line-height: 8px;
        }

        strong {
          color: white;
          transition: .25s ease-in-out color;
          text-transform: lowercase;
        }

        &--service {
          img {
            display: block;
            max-height: 90%;
            width: auto;
          }
        }
        &--expired {
          background: #f7f7f7;
          color: #b0b0b0;
          strong {
            color: #b0b0b0;
          }
        }
      }

      &__full {
        position: absolute;
        top: 18px;
        font-weight: 600;
        color: #fff;
        font-size: .887rem;
        left: 0;
        width: 100%;
        text-align: left;
        padding: 3px 0 3px 15px;
        background: rgba(0, 0, 0, .85);
        &--expired {
          background: #f7f7f7;
          color: #b0b0b0;
        }
      }

      &__overlay-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 2;

        img {
          max-width: 85%;
          height: auto;
        }
      }
    }
  }

}
